[Application]
header: LIVE Version


[Diagnostics]
DisplayInHeader: false


[Database]
server: prod_server
database: prod_db
username: testuser1
password: password
connectstr: Data Source=prod_server; Initial Catalog=prod_db; User ID=testuser1; Password=password;
databasetype: System.Data.SqlClient


[Analytics]
IsEnabled:true


[Notifications]
IsEnabled: true


[Search]
Provider:bing
bing.Url:http://api.search.live.net/xml.aspx?
bing.APIKey:7F2DBB51D1FE49D765EE5BE05984D589872A74E6
google.Url:http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA
google.APIKEY:


[Maps]
Provider:bing
bing.Url:http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2
bing.APIKey:
google.Url:http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA
google.APIKEY: