<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings>
      <add key="environment" value="dev"/>
      <add key="useRealData" value="true"/>
      <add key="clearData" value="false"/>
      <add key="loadSchema" value="false"/>
      <add key="updateSchema" value="true"/>
      <add key="loadData" value="false"/>
      <add key="assembliesForExtensions" value="CommonLibrary.Web.Modules"/>
    </appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
        <!--<trace enabled="true" pageOutput="true" requestLimit="10" traceMode="SortByTime" localOnly="true" />
		 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<!-- 
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
			</providers>
		</membership>-->
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
        <customErrors mode="Off" defaultRedirect="NotFound">
            <error statusCode="403" redirect="NotAuthorized" />
            <error statusCode="404" redirect="NotFound" />
        </customErrors>
    
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="ComLib.Extensions"/>
        <add namespace="ComLib.CMS"/>
				<add namespace="ComLib.Web.Lib.Models"/>
				<add namespace="ComLib.Web.Lib.Core"/>
				<add namespace="ComLib.Web.Modules.Media"/>
				<add namespace="ComLib.Web.Lib.Extensions"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            
			<add verb="GET" path="captcha.ashx" validate="false" type="ComLib.CaptchaSupport.CaptchaImageHandler, CommonLibrary"/>
			<add verb="*" path="*.css" type="ComLib.Web.HttpHandlers.CssHandler, CommonLibrary" validate="false"/>
			<add verb="*" path="*.js" type="ComLib.Web.HttpHandlers.JavascriptHandler, CommonLibrary" validate="false"/>
			<add verb="*" path="*.jpg" type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" validate="false"/>
			<add verb="*" path="*.jpeg" type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" validate="false"/>
			<add verb="*" path="*.gif" type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" validate="false"/>
			<add verb="*" path="*.png" type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" validate="false"/>
            
		</httpHandlers>
        <httpRuntime requestValidationMode="2.0"/>
	</system.web>
	<system.web.extensions/>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<remove name="UrlRoutingHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="CaptchaHttpHandler" verb="GET" path="captcha.ashx" type="ComLib.CaptchaSupport.CaptchaImageHandler, CommonLibrary"/>
            <add name="CssHttpHandler" verb="*"  path="*.css"   type="ComLib.Web.HttpHandlers.CssHandler, CommonLibrary" />
            <add name="JsHttpHandler" verb="*"   path="*.js"    type="ComLib.Web.HttpHandlers.JavascriptHandler, CommonLibrary" />
            <add name="JpgHttpHandler" verb="*"  path="*.jpg"   type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" />
            <add name="JpegHttpHandler" verb="*" path="*.jpeg"  type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" />
            <add name="GifHttpHandler" verb="*"  path="*.gif"   type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" />
            <add name="PngHttpHandler" verb="*"  path="*.png"   type="ComLib.Web.HttpHandlers.ImageHandler, CommonLibrary" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
